path.link {
  fill: none;
  stroke: #736B6B;
  stroke-width: 2.5px;
}

marker#open {
  fill: #423F3F;
}

circle {
  fill: #ccc;
  stroke: #333;
  stroke-width: 1.5px;
}

.node text {
  pointer-events: none;
  font: 10px sans-serif;
  font-weight: bold;
  padding-left: 10px;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
}

text.shadow {
  stroke: #fff;
  stroke-width: 3px;
  stroke-opacity: .8;
}

.node {
  cursor: pointer;
}
.health0 {
  fill: #CC3333;
}

.health1 {
  fill: #CC9900;
}

.health2 {
  fill: #279B61;
}

.node:hover {
  fill: #5f5f5f;
}

#process-container {
  //background: #efefff;
  //padding: 5px;
}

#health-container {
  //background: #efffef;
  //padding: 5px;
}